{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <div class="progress">
        {% if value > 100 %}
            <div class="progress-bar-red progress-bar" role="progressbar" aria-valuenow={{ value }}
                aria-valuemin="0" aria-valuemax="100" style="width:{{value}}%">
              {{value}}% Complete (success)
            </div>
        {% else %}
            <div class="progress-bar" role="progressbar" aria-valuenow={{ value }}
                aria-valuemin="0" aria-valuemax="100" style="width:{{value}}%">
                {{value}}% Complete (success)
            </div>
        {% endif %}
    </div>
{% endblock %}