{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    <div class="progress">
        {% if value > 100 %}
            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow={{ value }}
                aria-valuemin="0" aria-valuemax="100" style="width:{{value}}%">
                {{value}}% Complete (success)
            </div>
        {% else %}
            <div class="progress-bar" role="progressbar" aria-valuenow={{ value }}
                aria-valuemin="0" aria-valuemax="100" style="width:{{value}}%">
              {{value}}% Complete (success)
            </div>
        {% endif %}
    </div>
{% endblock %}