{% extends "::base.html.twig" %}

{% block title %}Project Dashboard{% endblock %}

{% block stylesheets %}
{% endblock %}
{% block body %}
<!--    {#<div class="row">
        ####### display in twig ######### <br /> 
        {% for item in pro1 %} 
            {{ item.productDescription }} <br />
        {% endfor %} 
        ### results ### <br />
        {% for item_r in pro2 %} 
            {{ item_r.productDescription }} <br />
        {% endfor %}  
    </div>#}-->
    <div class="row">
        <div class="col-sm-5 col-md-5">
            <h1></h1>
            <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
            จำนวนโปรเจคเสร็จสิ้นในเดือนนี้ {{ finish }} โปรเจค
        </div>
        <div class="col-sm-7 col-md-7">
            <h2 class="sub-header">สถานะของโปรเจค</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>หมายเลขโปรเจค</th>
                            <th>ชื่อโปรเจค</th>
                            <th>ลูกค้า</th>
                            <th>สถานะงาน</th>
                            <th>กำหนดส่งมอบ</th>
                            <th>วันที่เริ่มงาน</th>
                            <th>เวลาทั้งหมด</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in project %}
                            <tr>
                                <td>{{ item.workOrderNo }}</td>
                                <td>{{ item.projectName }}</td>
                                <td>
                                {% if item.client is not null %}
                                    {{ item.client.clientName }} 
                                {% endif %}
                                </td>
                                <td>{{ item.projectStatus }}</td>
                                <td>{{ item.expectedDeliveryDate | date('d/m/Y') }}</td>
                                <td>{{ item.projectStartDate | date('d/m/Y') }}</td>
                                <td>
                                    {% if item.timeConsumingDays is not null and item.timeConsumingDays > 0 %}
                                        {{ item.timeConsumingDays }} วัน
                                    {% endif %}
                                    {% if item.timeConsuminghours is not null and item.timeConsuminghours > 0 %}
                                        {{ item.timeConsuminghours }} ชั่วโมง 
                                    {% endif %}
                                    {% if item.timeConsumingmins is not null and item.timeConsumingmins > 0 %}
                                        {{ item.timeConsumingmins }} นาที
                                    {% endif %}
                                <td>
                            </tr>
                        {% endfor %}    
                    </tbody>
                </table>
            </div> </div>
    </div>
{% endblock %}

{% block javascripts %}

    <script src="{{ asset('bundles/tsprojproduct/js/highcharts.js') }}"></script>   
    <script>
        $(function () {
            var finish = {{ finish }};
            var hold   = {{ hold }};
            var waitAssign = {{ waitAssign }};
            var inProgress = {{ inProgress }};
            $('#container').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
                },
                title: {
                    text: 'Project Overview Progress,May 2015'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                        type: 'pie',
                        name: 'Job Precentage',
                        data: [
                            ['In Process', inProgress],
                            ['Wait Assign', waitAssign],
                            ['Hold', hold]
                        ]
                    }]
            });
        });
    </script>

{% endblock %}
