{% extends "::base.html.twig" %}

{% block title %}New Project{% endblock %}
{% block stylesheets %}
    <style>
        .wizard-progress {
            list-style: none;
            list-style-image: none;
            padding: 0;
            white-space: nowrap;
        }

        .wizard-progress li {
            float: left;
            text-align: center;
            position: relative;
        }

        .wizard-progress .step-name {
            display: table-cell;
            height: 32px;
            vertical-align: bottom;
            text-align: center;
            width: 100%;
        }

        .wizard-progress .step-num {
            font-size: 14px;
            font-weight: bold;
            border: 3px solid darkgray;
            background-color: darkgray;
            border-radius: 50%;
            width: 24px;
            display: inline-block;
            margin-top: 10px;
            color: #fff;
        }

        .wizard-progress .step-num:after {
            content: "";
            display: block;
            background: darkgray;
            height: 1px;
            width: 130%; /* 130px; */
            position: absolute;
            bottom: 45px;
        }

        .wizard-progress li:last-of-type .step-num:after {
            display: none;
        }

        .wizard-progress .step-done .step-num,
        .wizard-progress .step-active .step-num {
            border-color: #5A7FD0;
            background-color: #5A7FD0;
        }

        .wizard-progress .step-active .step-name {
            font-weight: bold;
        }


        /* wizard with 5 steps */

        .wizard-5-steps {
            width: 900px;
        }

        .wizard-5-steps li {
            margin-right: 6.9%; /* 6.6687%; 50px */
            width: 13%;  
        }

        .wizard-5-steps .step-num:after {
            left: 62%;
        }

        /* wizard with 6 steps */
        .wizard-6-steps {
            width: 750px;
        }

        .wizard-6-steps li {
            float: left;
            margin-right: 5.5%; /* 6.6687%; 50px */
            width: 11%;
        }

        .wizard-6-steps .step-num:after {
            left: 64%;
        }




    </style>
{% endblock %}
{% block body %}
    <form name="form1" method="post" id="form1">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <h4 class="sub-header">สแกนชิ้นงาน</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1 col-md-1"></div>
        <div class="col-sm-10 col-md-10">
            <div class="progress">
                <div class="progress-bar" role="progressbar"  id="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                  0%
                </div>
            </div>
        </div>
        <div class="col-sm-1 col-md-1"></div>
    </div>
          
    {#<div class="row">
        <div class="col-sm-12 col-md-12">
            <h4 class="sub-header">สแกนชิ้นงาน</h4>
            <ol class="wizard-progress wizard-5-steps clearfix center-block">
                <li class="step-active" id="pg1" >
                    <span class="step-num">1</span>
                    <span class="step-name">สแกนรหัสชิ้นงาน</span>
                </li>
                <li class="" id="pg2" >
                    <span class="step-num">2</span>
                    <span class="step-name">สแกนรหัสพนักงาน</span>
                </li>
                <li class=""  id="pg3" >
                    <span class="step-num">3</span>
                    <span class="step-name">สแกนรหัสกระบวนการ</span>
                </li>
                <li class=""  id="pg4" >
                    <span class="step-num">4</span>
                    <span class="step-name">ตรวจสอบข้อมูล</span>
                </li>
                <li class=""  id="pg5" >
                    <span class="step-num">5</span>
                    <span class="step-name">เสร็จสิ้น!</span>
                </li>
            </ol>
        </div>
    </div>#}
    
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">ข้อมูลชิ้นงาน</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-1 col-md-1"></div>
                <div class="col-sm-3 col-md-3">
                    <span style="font-weight: bold;">รหัสชิ้นงาน : </span>
                    <input type="text" name="productid" id="productid" maxlength="11" class="form-control"  placeholder="รหัสชิ้นงาน" />
                </div>
                <div class="col-sm-1 col-md-1">
                </div>

                <div class="col-sm-3 col-md-3">   
                    <span style="font-weight: bold;">หมายเลขงาน : </span>
                    <input type="text"  name="projectid" id="projectid" maxlength="11" class="form-control"  placeholder="หมายเลขงาน" />
                
                </div>
                
                <div class="col-sm-1 col-md-1"></div>
                
                <div class="col-sm-3 col-md-3">

                    <span style="text-align:right;font-weight: bold;">ชื่อโปรเจค : </span>
                    <input type="text" name="projectname" id="projectname"  class="form-control"  placeholder="ชื่อโปรเจค" />
                </div>
            </div>
            <div class="row">                
                
                <div class="col-sm-1 col-md-1"></div>
                <div class="col-sm-3 col-md-3">
                    <span style="text-align:right;font-weight: bold;">ชื่อลูกค้า:</span>
                    <input type="text" name="customername" id="customername" class="form-control"  placeholder="ชื่อลูกค้า" />
                </div>
                <div class="col-sm-1 col-md-1"></div>
                <div class="col-sm-3 col-md-3">
                    <span style="text-align:right;font-weight: bold;">วันที่เริ่มงาน:</span>
                    <input type="text" name="productstartdate" id="productstartdate" class="form-control"  placeholder="วันที่เริ่มงาน" />
                </div>
                <div class="col-sm-1 col-md-1"></div>
                <div class="col-sm-3 col-md-3">
                    <span style="text-align:right;font-weight: bold;">กำหนดส่งมอบ:</span>
                    <input type="text" name="deliverdate" id="deliverdate" class="form-control"  placeholder="กำหนดส่งมอบ" />
                </div>
            </div>
            <div class="row">
                
                <div class="col-sm-1 col-md-1"></div>
                <div class="col-sm-3 col-md-3">
                    <span style="text-align:right;font-weight: bold;">สถานะปัจจุบัน:</span>
                    <input type="text" name="projectpercent" id="projectpercent" class="form-control"  placeholder="เสร็จสิ้น XX %" />
                </div>
                <div class="col-sm-1 col-md-1"></div>
                <div class="col-sm-3 col-md-3">
                    <span style="text-align:right;font-weight: bold;">จำนวนชิ้นงาน:</span>
                    <input type="text" name="itemcount" id="itemcount" class="form-control"  placeholder="จำนวนชิ้นงาน" />
                </div>
                <div class="col-sm-1 col-md-1"></div>
                <div class="col-sm-3 col-md-3">
                    <span style="text-align:right;font-weight: bold;">สต๊อก:</span>
                    <select name="stock" id="stock"  class="form-control" >
                        <option value="">กรุณาเลือกสินค้าในสต๊อก</option>
                        
                        {% for item in stock %}
                        <option value="{{ item.id }}">{{ item.stockProductName }}</option>
                        {% endfor %}    
                    </select>
                </div>
            </div>
        </div>
    </div>
    
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">ข้อมูลพนักงาน</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-1 col-md-1" style="text-align:right;">
                </div>
                <div class="col-sm-3 col-md-3">
                    <span style="text-align:right;font-weight: bold;">รหัสพนักงาน:</span>
                    <input type="text" name="emp_barcode" id="emp_barcode" class="form-control"  placeholder="รหัสพนักงาน" />
                </div>
                <div class="col-sm-1 col-md-1" style="text-align:right;">
                </div>
                <div class="col-sm-3 col-md-3">

                    <span style="text-align:right;font-weight: bold;">ชื่อพนักงาน:</span>
                    <input type="text" name="empname" id="empname"  class="form-control"  placeholder="ขื่อพนักงาน" />
                </div>
            </div>
        </div>
    </div>
   
    
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">ข้อมูลกระบวนการ</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-1 col-md-1" style="text-align:right;">
                </div>
                <div class="col-sm-3 col-md-3">
                    <span style="text-align:right;font-weight: bold;">รหัสกระบวนการ:</span>
                    <input type="text" name="process_barcode" id="process_barcode" class="form-control"  placeholder="รหัสกระบวนการ" />
                </div>
                <div class="col-sm-1 col-md-1" style="text-align:right;">
                </div>
                <div class="col-sm-3 col-md-3">
                    <span style="text-align:right;font-weight: bold;">ชื่อกระบวนการ:</span>
                    <input type="text" name="processname" id="processname" class="form-control"  placeholder="ชื่อกระบวนการ" />
                </div>
                <div class="col-sm-1 col-md-1" style="text-align:right;">
                </div>
                <div class="col-sm-3 col-md-3">
                    <span style="text-align:right;font-weight: bold;">ระยะเวลาการผลิต:</span>
                    <input type="text" name="pro_barcode" class="form-control"  placeholder="ระยะเวลาการผลิต" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1 col-md-1" style="text-align:right;">
                </div>
                <div class="col-sm-3 col-md-3">
                    <span style="text-align:right;font-weight: bold;">วันที่เริ่มกระบวนการ:</span>
                    <input type="text" name="processstartdate" id="processstartdate" class="form-control"  placeholder="วันที่เริ่มกระบวนการ" />
                </div>
                <div class="col-sm-1 col-md-1" style="text-align:right;">
                </div>
                <div class="col-sm-3 col-md-3">
                    <span style="text-align:right;font-weight: bold;">วันที่สิ้นสุดกระบวนการ:</span>
                    <input type="text" name="processenddate" id="processenddate"  class="form-control"  placeholder="วันที่สิ้นสุดกระบวนการ" />
                </div>
            </div>   
        </div>
    </div>
    <div class="col-sm-3 col-md-3 pull-right" align='right'>
        <button type="button" id="clear_btn" class="btn btn-warning" value="reset">ล้างข้อมูล</button>
        <button type="button" name="insertTable" class="btn btn-primary" id="insertTable" value="submit">ตกลง</button>
<!--    <input type="button" name="insertTable" class="btn btn-default">ตกลง</input>-->
    </div>
        
    </form>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {

            $("#createdate").datepicker();
            $("#processstartdate").datepicker();
            $("#processedate").datepicker();
        });
        $(document).on("change","#productid",function(){
            if($(this).val().length!=0)
            {
                get_productdetail($(this).val());
            }
        });
        
        $(document).on("change","#emp_barcode",function(){
            {#if($("#projectid").val().length=="11")
            {#}
                if($(this).val().length!=0)
                {
                   {# $("#pg2").removeClass("step-active").addClass("step-done");
                    $("#pg3").addClass("step-active");#}
                    get_employeedeatail($("#emp_barcode").val());
                }
                else
                {
{#                    alert("กรุณาระบุรหัสหนักงานให้ครบ 4 ตำแหน่ง");#}
                    {#$("#pg2").removeClass("step-done").addClass("step-active");
                    $("#pg3").removeClass("step-active");#}
                    {#$(this).focus();
                    return;#}
                    get_employeedetail($("#emp_barcode").val());
                
                 }
{#            }     #}
{#            else#}
{#            {#}
                {#$("#pg1").removeClass("step-done").addClass("step-active");
                $("#pg2").removeClass("step-active");
                alert("กรุณาระบุรหัสโปรเจกก่อน");
                $("#projectid").focus();
                return;#}
{#            }#}
          
        });
        {#$(document).on("change","#emp_barcode",function(){
             if($(this).val().length=="4")
                {
                    get_employeedeatail($("#emp_barcode").val());
                }
                else
                {
                    alert("กรุณาระบุรหัสหนักงานให้ครบ 4 ตำแหน่ง");
                    $(this).focus();
                    return;
                }
        });#}
        
        $(document).on("click", "#insertTable", function() {
           if(validation()){
               var data = $("#form1").serialize();
                console.log(data);
                $.post('{{path('ajax_save_product_Process_Time')}}',
                    data, 
            function(response){
                    if(response.code == 100 && response.success){//dummy check
                      alert(response.empname);
                      alert("save successful");
                    }else if(response.code == 300)
                    {
                        alert(response.message);
                    }
                }, "json");  
                return;
            }
        });
            
        $(document).on("change","#process_barcode",function(){
             if($(this).val().length!=0)
                {
                    get_processid($(this).val());
                }
        });
         
        $(document).on("click","#clear_btn",function(){
            $("input").each(function(){
                $(this).val("");
            });
        });
        
        // Insert button functionality

        
        function get_employeedeatail(emp_barcode)
        {
            
             $.post('{{path('ajax_get_employee_detail')}}',
                    {'emp_barcode': emp_barcode}, 
            function(response){
                    if(response.code == 100 && response.success){//dummy check
                      $("#empname").val(response.empname);
                    }else if(response.code == 300)
                    {
                        alert(response.message);
                    }
                }, "json");  
        }
        function get_productdetail(productBarcode)
        {
            
             $.post('{{path('ajax_get_product_detail')}}',
                    {'productBarcode': productBarcode}, 
            function(response){
                    if(response.code == 100 && response.success){//dummy check
                      $("#projectid").val(response.projectid);
                      $("#projectname").val(response.projectname);
                      $("#deliverdate").val(response.expectdate.date);
                      $("#customername").val(response.clientname);
                      $("#productstartdate").val(response.productstartdate);
                      $("#projectpercent").val(response.projectpercent);
                      $("#itemcount").val(response.itemcount);
                    }else if(response.code == 300)
                    {
                        alert(response.message);
                        $("#process_barcode").val("");
                        $("#projectid").val(response.projectid);
                        $("#projectname").val(response.projectname);
                        $("#deliverdate").val(response.expectdate.date);
                        $("#customername").val(response.clientname);
                        $("#productstartdate").val(response.productstartdate);
                        $("#projectpercent").val(response.projectpercent);
                        $("#itemcount").val(response.itemcount);
                    }
                }, "json");  
        }
        function get_processid(process_barcode)
        {
            
             $.post('{{path('ajax_get_process_detail')}}',
                    {'process_barcode': process_barcode}, 
            function(response){
                    if(response.code == 100 && response.success){//dummy check
                      $("#processname").val(response.name);
                    }else if(response.code == 300)
                    {
                        alert(response.message);
                        $("#process_barcode").val("");
                        $("#processname").val("");
                    }
                }, "json");  
        }
        
        function validation()
        {
            if($("#productid").val()=="")
            {   alert("กรุณาระบุข้อมูล รหัสชิ้นงาน");
                $("#productid").focus();
                return false;
            }else if($("#emp_barcode").val()=="")
            {   alert("กรุณาระบุข้อมูล รหัสพนักงาน");
                $("#emp_barcode").focus();
                return false;
            }else if($("#process_barcode").val()=="")
            {   alert("กรุณาระบุข้อมูล รหัสกระบวนการ");
                $("#process_barcode").focus();
                return false;
            }else
            {
                if(confirm('เสร็จสิ้นกระบวนการนี้แล้วใช่หรือไม่?'))
                {
                    return true;
                }
                else
                {
                    return false;
                }
            }
            
        }
    </script>

{% endblock %}
